Tetrjs was written by <a href="https://destinmoulton.com" target="_blank">Destin Moulton</a>.
<br/>
<br/>Tetrjs is available on <a href="https://github.com/destinmoulton/tetrjs" target="_blank">GitHub</a>.
<br/>Open source under the MIT License.
<br/>
<br/>
<button type="button"
        id="tetrjs-about-close"
        class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</button>
