Tetrjs is a Tetris clone written in JavaScript.
<br />
<br />
Tetrjs was written by
<a href="https://destinmoulton.com" target="_blank">Destin Moulton</a>.
<br />
<br />
Available on
<a href="https://github.com/destinmoulton/tetrjs" target="_blank">GitHub</a>.
<br />
Open source under the
<a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.
<br />
<br />
<button type="button" id="tetrjs-about-close" class="btn btn-primary btn-sm">
    <span>X</span>&nbsp;Close
</button>
