<!-- The Game Container -->
<div id='tetrjs-container'>
    <div id='tetrjs-board'></div>
    <div id='tetrjs-next-piece-preview-container'></div>
    <div id='tetrjs-score-container'></div>
    <div id='tetrjs-level-container'></div>
    <div id='tetrjs-actions-container'>
        <br/>
        <button type="button"
                class="btn btn-primary btn-xs"
                onclick="tetrjs.pauseGame()">Pause ('p')</button>
        <br/>
        <br/>
        <button type="button"
                class="btn btn-primary btn-xs"
                onclick="tetrjs.newGame()">New Game</button>

    </div>
    <div id='tetrjs-modal-veil'></div>
    <div id='tetrjs-modal'></div>
</div>