<!-- The Game Container -->
<div id="tetrjs-container">
    <div id="tetrjs-title-container">Tetrjs</div>
    <div id="tetrjs-board"></div>
    <div id="tetrjs-next-piece-preview-container"></div>
    <div id="tetrjs-score-container"></div>
    <div id="tetrjs-level-container"></div>
    <div id="tetrjs-actions-container">
        <br />
        <button id="tetrjs-button-pause">
            <div class="icon">&#9613;&#9613;</div>
            <div class="button-text">Pause</div>
        </button>
        <br />
        <br />
        <button id="tetrjs-button-new">New Game</button>
        <br />
        <br />
        <button id="tetrjs-button-about">
            About Tetrjs
        </button>
    </div>
    <div id="tetrjs-modal-veil"></div>
    <div id="tetrjs-modal"></div>
</div>
