Game Over!
<br/><br/>
<table border="0" id="tetrjs-gameover-table">
    <tbody>
    <tr><td><strong>Score:</strong></td><td>{{ score }}</td></tr>
    <tr><td><strong>Lines:</strong></td><td>{{ rowsEliminated }}</td></tr>
    <tr><td><strong>Level:</strong></td><td>{{ level }}</td></tr>
    </tbody>
</table>
<br/>
<button type="button"
        id="tetrjs-gameover-newgame"
        class="btn btn-primary btn-sm">New Game</button>