<button type="button" id="tetrjs-intro-newgame">
    <span>▶</span>&nbsp;&nbsp;Play Tetrjs!
</button>

<br /><br />
Arrow keys control the pieces.
<br />
&nbsp;

<div id="tetrjs-arrows-container">
    <div id="up">⬆</div>
    <br />
    <div id="left">⬅</div>
    <div id="down">⬇</div>
    <div id="right">➡</div>
</div>
