<button type="button"
        id="tetrjs-intro-newgame"
        class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;Play Tetrjs!</button>

<br/><br/>
Arrow keys control the pieces.
<br/>
&nbsp;<span class='glyphicon glyphicon-arrow-up tetrjs-arrow-updown'></span>
<br/>
<span class='glyphicon glyphicon-arrow-left tetrjs-arrow tetrjs-arrow-leftright'></span>
<span class='glyphicon glyphicon-arrow-down tetrjs-arrow tetrjs-arrow-updown'></span>
<span class='glyphicon glyphicon-arrow-right tetrjs-arrow tetrjs-arrow-leftright'></span>