<button type="button" id="tetrjs-intro-newgame" class="btn btn-primary btn-sm">
    <span>▶</span>&nbsp;&nbsp;Play Tetrjs!
</button>

<br /><br />
Arrow keys control the pieces.
<br />
&nbsp;

<div id="tetrjs-arrows-container">
    <div class="arrow" id="up">⬆</div>
    <br />
    <div class="arrow"><div id="left">⬅</div></div>
    <div class="arrow"><div id="down">⬇</div></div>
    <div class="arrow"><div id="right">➡</div></div>
</div>
