$font-family: Verdana,
Arial,
sans-serif;
$container-width: 375px;
$container-height: 475px;
/** The Main Tetrjs Box **/

#tetrjs-container {
    position: relative;
    width: $container-width;
    height: $container-height;
    border: 2px solid #757c87;
    font-family: $font-family;
    button {
        background: #f3f3f3;
        border: 1px #dadada solid;
        border-radius: 2px;
        color: #444444;
        font-size: 14px;
        font-weight: bold; //height: 35px;
        line-height: 35px;
        outline: none;
        padding: 0 5px 0 5px;
        vertical-align: middle;
        &:hover {
            border: 1px #c6c6c6 solid;
            box-shadow: 1px 1px 1px #eaeaea;
            color: #333333;
            background: #f7f7f7;
        }
        &:active {
            box-shadow: inset 1px 1px 1px #dfdfdf;
        }
    }
}

#tetrjs-title-container {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-family;
}

/** Preview Piece Box **/

#tetrjs-next-piece-preview-container {
    position: absolute;
    top: 30px;
    left: 230px;
    border: 2px solid gray;
}

/** The Score Box **/

%info-box {
    position: absolute;
    top: 135px;
    left: 230px;
    width: 120px;
    height: 22px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
}

#tetrjs-score-container {
    @extend %info-box;
    top: 135px;
}

/** The Level Box **/

#tetrjs-level-container {
    @extend %info-box;
    top: 185px;
}

/** The Actions Box **/

#tetrjs-actions-container {
    position: absolute;
    top: 220px;
    left: 230px;
}

#tetrjs-button-pause {
    .icon {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
    }
    .button-text {
        display: inline-block;
        &:first-letter {
            text-decoration: underline;
        }
    }
}

/** Keyboard Arrow Box **/

$arrow-width: 35px;
$arrow-height: 35px;
%arrow {
    position: relative;
    border: 1px solid gray;
    border-radius: 3px;
    height: $arrow-height;
    width: $arrow-width;
    font-size: 18px;
    text-align: center;
}

/** Keyboard Arrow Styles **/

#tetrjs-arrows-container {
    bottom: 10px;
    width: $arrow-width * 3 + 6;
    height: $arrow-height * 2;
    margin-left: auto;
    margin-right: auto;
    #up {
        @extend %arrow;
        margin-left: auto;
        margin-right: auto;
    }
    #left {
        @extend %arrow;
        float: left;
    }
    #down {
        @extend %arrow;
        float: left;
    }
    #right {
        @extend %arrow;
        float: left;
    }
}

/** The Modal Popover Style **/

#tetrjs-modal {
    background-color: white;
    border: 3px solid #7098b5;
    display: none;
    left: 45px;
    max-width: 300px;
    min-width: 150px;
    opacity: 1;
    padding: 15px 10px 15px 10px;
    position: absolute;
    text-align: center;
    top: 110px;
    z-index: 99;
}

#tetrjs-modal-veil {
    position: absolute;
    display: none;
    width: $container-width;
    height: $container-height;
    opacity: 0.6;
    background-color: black;
    z-index: 10;
}

table#tetrjs-gameover-table {
    text-align: left;
}

table#tetrjs-gameover-table>tbody>tr {
    border: 1px solid black;
}

table#tetrjs-gameover-table>tbody>tr>td {
    padding: 2px;
}

/** The Board Style **/

#tetrjs-board {
    position: absolute;
    top: 30px;
    left: 15px;
    border: 5px solid black;
}

.tetrjs-board-block {
    position: absolute;
    width: 20px;
    height: 20px;
}

/** The Block Styles **/

%block-style {
    -webkit-box-shadow: inset -1px -1px 4px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset -1px -1px 4px 1px rgba(0, 0, 0, 1);
    box-shadow: inset -1px -1px 4px 1px rgba(0, 0, 0, 1);
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.tetrjs-block-straight {
    background-color: red;
    @extend %block-style;
}

.tetrjs-block-l-left {
    background-color: #1673de;
    @extend %block-style;
}

.tetrjs-block-l-right {
    background-color: #8d4cc2;
    @extend %block-style;
}

.tetrjs-block-square {
    background-color: orange;
    @extend %block-style;
}

.tetrjs-block-s {
    background-color: yellow;
    @extend %block-style;
}

.tetrjs-block-z {
    background-color: turquoise;
    @extend %block-style;
}

.tetrjs-block-t {
    background-color: #59c24c;
    @extend %block-style;
}